
  <% if @amplifier.errors.any? %>
    <div id="error_explanation" class="alert">
      <p><%= pluralize(@amplifier.errors.count, "error") %> prohibited this amplifier from being saved:</p>
      <ul>
      <% @amplifier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for [@user, @amplifier] do |f| %>

  <div class="field">
    <%= f.label :manufacturer, class: "form-label" %>
    <%= f.text_field :manufacturer, class: "form-field" %>
  </div>

  <div class="field">
    <%= f.label :model, class: "form-label" %>
    <%= f.text_field :model, class: "model-form-field" %>
  </div>

  <div class="field">
    <%= f.label :speaker, class: "form-label" %>
    <%= f.text_field :speaker, class: "speaker-form-field" %>
  </div>

  <div class="field">
    <%= f.label :tube_set, "Tube Set", class: "form-label"%>
    <%= f.text_field :tube_set, class: "tube-form-field" %>
  </div>

  <div class="field">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "description-form-field" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
