<%= form_for (amplifier) do |f| %>

  <% if @amplifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amplifier.errors.count, "error") %> prohibited this amplifier from being saved:</h2>
      <ul>
      <% @amplifier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :speaker %>
    <%= f.text_field :speaker %>
  </div>

  <div class="field">
    <%= f.label :tube_set, "Tube Set"%>
    <%= f.text_field :tube_set %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Amplifier" %>
  </div>
<% end %>
