<h2><%= @amplifier.manufacturer %> <%= @amplifier.model %></h2>

<ul>
  <li>Speaker: <%= @amplifier.speaker %></li>
  <li>Tube Set: <%= @amplifier.tube_set %></Li>
  <li>Description: <%= @amplifier.description %></li>
</Li>

<% if current_user %>
  <%= link_to 'Review Amplifier', new_amplifier_review_path(@amplifier) %>
<% end %>

<% if current_user && @amplifier.user_id == current_user.id %>
  <div>
    <%= link_to 'Edit Amplifier', edit_user_amplifier_path(current_user) %>
  </div>
  <div>
    <%= link_to 'Delete Amplifier', user_amplifier_path(current_user), method: :delete %>
  </div>
<% end %>

<h1>Reviews:</h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.body %>
      <div id="up-vote-<%= review.id %>">Up Votes:
        <%= review.up_votes.count %>
      </div>
      <div id="down-vote-<%= review.id %>">Down Votes:
        <%= review.down_votes.count %>
      </div>

      <% if current_user %>
        <div>
          <%= button_to 'Up Vote', votes_path(up_vote: true, review_id: review.id, amplifier_id: @amplifier.id), method: :post, form_class: "vote" %>
        </div>
        <div>
          <%= button_to 'Down Vote', votes_path(up_vote: false, review_id: review.id, amplifier_id: @amplifier.id), method: :post, form_class: "vote" %>
        </div>
        <div>
          <%= button_to 'Delete Vote', votes_path(review_id: review.id), method: :delete, form_class: "delete-vote" %>
        </div>
      <% end %>

  <% if current_user && review.user_id == current_user.id %>
        <div>
          <%= link_to 'Edit Review', edit_user_review_path(review, review_id: review.id) %>
        </div>
        <div>
          <%= link_to 'Delete Review', amplifier_review_path(review, review_id: review.id), method: :delete %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
