<h2><%= @amplifier.manufacturer %> <%= @amplifier.model %></h2>

<ul>
  <li>Speaker: <%= @amplifier.speaker %></li>
  <li>Tube Set: <%= @amplifier.tube_set %></Li>
  <li>Description: <%= @amplifier.description %></li>
</Li>

<% if current_user && @amplifier.user_id == current_user.id %>
  <div>
    <%= link_to 'Edit Amplifier', edit_user_amplifier_path(current_user) %>
  </div>
  <div>
    <%= link_to 'Delete Amplifier', user_amplifier_path(current_user), method: :delete %>
  </div>
<% end %>
