<h2><%= @amplifier.manufacturer %> <%= @amplifier.model %></h2>

<ul>
  <li>Speaker: <%= @amplifier.speaker %></li>
  <li>Tube Set: <%= @amplifier.tube_set %></Li>
  <li>Description: <%= @amplifier.description %></li>
</Li>
